    <!-- Intro Header -->
    <header class="intro">
        <br><br><br><br>
        <div class="container">
            <div class="chocpad">
                <!--  <h1 class="brand-heading">{{ site.title }}</h1> -->
                <!-- <p class="intro-text">{{ site.description }}<br> -->
                <p class="intro-text">Combatting crypto fraud one review at a time! We enable our community to build a safer web 3.0 future for all.<br>
                    <i>"To provide a safe path to onboard the next 1 billion users of crypto and blockchain by informing users about known web 3.0 scams."</i><br>
                <!-- <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a> -->
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
<!--        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    </div>
                </div>
            </div>
        </div>
-->
    </header>
