<!-- <nav>
  {% for item in site.data.nav %}
  <li>
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  </li>
    {% endfor %}
</nav> -->
<nav class="nav nav_social" aria-label="social links">
  <ul>
    <li>
      <a href="https://www.discord.com/somewhere/" class="link " target="_blank"><i class="fab light fa-discord fa-fw"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/somewhere/" class="link " target="_blank"><i class="fab fa-linkedin fa-fw"></i></a>
    </li>
    <li>
      <a href="https://www.twitter.com/chocNetwork/" class="link " target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
    </li>
    <li>
      <a href="https://www.medium.com/in/somewhere/" class="link " target="_blank"><i class="fab fa-medium fa-fw"></i></a>
    </li>
  </ul>
</nav>

<nav class="nav nav_main" aria-label="Site menu">
  <a class="logo link" href="/#home"
    ><i class="chocolate"></i><span class="text--light">chocolate <b>network</b></span></a
  >
  <ul>
    <li><a href="/#home" class="link link--dark">home</a></li>
    <li><a href="/#about" class="link link--dark">about</a></li>
    <li><a href="/#footer" class="link link--dark">contact</a></li>
  </ul>
</nav>
<script>
  // make link active if url matches
  const links = document.querySelectorAll('.nav_main ul li a');
  const hashChange = function () {
    var url = window.location.href;
    for (var i = 0; i < links.length; i++) {
      if (url.indexOf(links[i].href) > -1) {
        links[i].classList.add('current');
      } else {
        links[i].classList.remove('current');
      }
    }
  };
  hashChange();
  window.addEventListener('hashchange', hashChange);
</script>
