// Utils file for molecules. Currently merged with organisms.

// ------ Layout ------
@mixin inherit-grid {
  display: grid;
  gap: inherit;
}
@mixin grid-col-span-h {
  grid-column: 1 / -1;
}
@mixin grid-h-center {
  display: grid;
  justify-items: center;
}

// -- sizing -- Slight padding so everything isn't mashed together
@mixin rem-body-pad($top: true, $lr: true) {
  // change mquery if rem changes
  @media (min-width: ($grid-size + 20px)) {
    @if ($top) { 
      // Mutually exclusive
      padding-top: 0;
    }  
    @if ($lr) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

