// all atoms and associated primitives available here.
// use these to compose molecules
// i.e inputs using multiple atoms, etc.
//  Think of actual classes here. Small structure of layout in parents like how do you place els in an input box.
// specials
@import "primitives";
@import "molecule_utils";

@mixin nav-li {
  margin-left: 1rem;
}
@mixin nav-logo {
  color: $nav-logo-text;
  margin-right: auto;
}
@mixin hr-list-of-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin nav {
  width: 100%;
  max-width: $grid-size;
  display: flex;
  justify-content: end;
  & > .logo {
    @include nav-logo;
  }
  align-items: center;

  & > ul {
    @include hr-list-of-links;

    & > li {
      font-size: $smaller-text;
      @include nav-li;
    }
  }
}
@mixin foot-cp-nav {
  width: fit-content;
  padding: ($body-padding / 2) 0;
}

@mixin foot-cp-p {
  & > .foot_copyright-text > p {
    margin-bottom: 0; // center.
  }
  @media (min-width: $sm-break) {
    & > * {
      flex-grow: 1;
    }
  }
}
@mixin foot-cp {
  width: 100%;
  text-transform: uppercase;
  // Auto layout
  display: flex;
  justify-content: center;
  row-gap: $body-padding / 2;
  font-size: $tiny-text;
  flex-wrap: wrap;
  @include foot-cp-p;
  & > .nav {
    @include foot-cp-nav;
  }
}
@mixin footer-content-pad {
  // Solid.
  padding: 3 * $body-padding $body-padding $body-padding;
  // Writing mode compatibility
  padding-block: 3 * $body-padding $body-padding;
  padding-inline: $body-padding; // l-r.
}

//<nav>
.nav {
  @include nav;
  box-sizing: border-box;
}
.nav_social {
  display: none;
  height: 36px;
  padding: $body-padding / 2 $body-padding;
  @include rem-body-pad(false);
  @media (min-width: $sm-break) {
    display: var(--initial-display, flex);
  }
}

.nav_main {
  height: 75px;
  padding: 0 $body-padding;
  @include rem-body-pad(false);
}
.nav--highlight {
  width: 100%;
  @include border(0, 1px);
  @include grid-h-center;
  @media (min-width: $sm-break) {
    @include border(1px, 1px);
  }
}
.nav .link {
  @include nav_link;
}

//footer
.foot_copyright {
  @include foot-cp;
}
.footer_content {
  width: 100%;
  & > * {
    max-width: $grid-size;
  }
  box-sizing: border-box;
  @include footer-content-pad;
  @include rem-body-pad(false);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $body-padding;
}

// home page--land card
.land_links > ul {
  @include hr-list-of-links;
  height: 100%;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  justify-content: center;
  @media (min-width:  $grid-media-size) {
    align-items: start;
    justify-content: initial;
  }

  & > li:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.land_formsection {
  display: grid;
  align-content: end;
  & > p:first-of-type {
    margin-top: 0;
  }
}
