// Utils file for molecules. Currently merged with organisms.

// ------ Layout ------
@mixin inherit-grid {
  display: grid;
  grid-template-columns: inherit;
  gap: inherit;
}
@mixin grid-col-span-h {
  grid-column: 1 / -1;
}
@mixin grid-h-center {
  display: grid;
  justify-items: center;
}
@mixin grid-col-span($no) {
    // items don't span till specific mq
  @media (min-width: $grid-media-size) {
    grid-column: span $no;
  }
}

// -- sizing --
$body-padding: 0.4rem;
@mixin apply-body-pad($top-bottom: true) {
  @media (max-width: $grid-size + 20px) {
    //change mquery if rem changes
    box-sizing: border-box;
    @if ($top-bottom) {
      padding: $body-padding;
    } @else {
      padding: 0 $body-padding;
    }
  }
}
// ----- Effects ------
@mixin lighten-on-hover {
  // update if text is black by default
  color: darken($nav-link-text, 10%);
  &:hover {
    color: $nav-link-text;
  }
}
@mixin darken-on-hover {
  color: $nav-link-text;
  &:hover {
    color: darken($nav-link-text, 10%);
  }
}
