// all atoms and associated primitives available here.
// use these to compose molecules
// i.e inputs using multiple atoms, etc.
//  Think of actual classes here. Small structure of layout in parents like how do you place els in an input box.
// specials
@import 'primitives';
@mixin inherit-grid {
  display: grid;
  grid-template-columns: inherit;
}
@mixin fw-horizontal {
  grid-column: 1 / -1;
}
@mixin lighten-on-hover {
  color: darken($nav-link-text, 10%);
  &:hover {
    color: $nav-link-text;
  }
}
@mixin darken-on-hover {
  color: $nav-link-text;
  &:hover {
    color: darken($nav-link-text, 10%);
  }
}
@mixin link {
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: $headingBold;
  @content;
  &:active,
  &.current {
    // Todo: Color visibility
    color: $wrap-red;
  }
}
@mixin light-link {
  @include link {
    @include lighten-on-hover;
  }
}
@mixin dark-link {
  @include link {
    @include darken-on-hover;
  }
}

@mixin nav-li {
  margin-left: 1rem;
}
@mixin nav-logo {
  color: $nav-logo-text;
  margin-right: auto;
}
@mixin hr-list-of-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

@mixin nav {
  // @include fw-horizontal;
  width: 100%;
  display: flex;
  justify-content: end;
  & > .logo {
    @include nav-logo;
  }
  align-items: center;

  & > ul {
    @include hr-list-of-links;

    & > li {
      font-size: $smaller-text;
      @include nav-li;
    }
  }
}
@mixin foot-cp {
  // always-max
  width: 100%;
  height: 50px;
  background-color: $wrap-red;

  text-transform: uppercase;
  // outline
  @include border(1px, 0px); // only one: re: moxilla
  // little centered text footer fn
  display: flex;
  justify-content: center;
  font-size: $tiny-text;
}

.nav_social {
  @include nav;
  box-sizing: border-box;
  padding: 10px;
  height: 30px;
}
.nav_main {
  @include nav;
  height: 70px;

  // underline
  @include border(1px, 1px);
}
.link {
  @include light-link;
}
.link--dark {
  @include dark-link;
}
.foot_copyright {
  @include foot-cp;
}
