// think of larger layouts , include overarching grids and the like here.
@import 'molecules';

@mixin head {
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  background-color: $primary;
}

@mixin footlinks {
  width: 100vw;
  height: 100px;
  background-color: $premium-dark;
}

@mixin twelve-column-grid {
  // a 12 column grid with a max width of 1200 heart.
  display: grid;
  // grid-template-columns: repeat(3, 1fr) repeat(2, 2fr) 5fr; - Or so I would like. Use even width columns
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.5rem;
  max-width: $grid-size;
  width: 100%;
}

body {
  @include grid-h-center;
  grid-template-rows: min-content;
}
// .footlinks { // when we have a footer
//   @include footlinks;
// }

footer {
  width: 100%;
  // limit the content of each part to 1200px. I.e We take the bg, but the width is limited
  // We need the bg col
  & > * > * {
    max-width: $grid-size;
  }
}
.head {
  @include head;
  @include grid-h-center;
}
.container {
  // Use overrides for nav. The header is 100vw with needed background, but the nav tags stick to the grid columns
  @include twelve-column-grid;
  // the container should be at least this big but should also allow for stretching
  min-height: calc(1.06 * (100vh - 150px));
}
.land {
  // include the image and place it on the right. Although thanks to kadar, we don't have to explictly. Just a note if you switch to svgs
  // wehave to switch to svgs to retain current config on smaller screens by simply making the switch
  @include splash-logo;
  @include grid-col-span-h;
  @include inherit-grid;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  & > * {
    grid-column: span 7;
  }
}
