.flex {
  display: flex;
}

.div-crop {
  width: min-content;
  height: min-content;
}

.supporters {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    max-width: 200px;
  }
}
