<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Page.Title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <header class="head">{{ partial "nav.hrml" . }}</header>
    <main class="container" id="home">{{ .Content }}</main>
    <footer id="footer">
      {{ block "main" . }}

      {{ end }}
    </footer>
  </body>
</html>
