@import 'colors', 'typography';
// atoms
// mixins go here. Use colors, typography to create bases
// include default styles for elemental text straight from md
// start from here and see how you feel. When it grows in complexity, it becomes a molecule.

/*topography atoms*/
@mixin huge-title {
  font-size: $hugeTitle;
}
// for the big tag
@mixin heading_strong {
  font-weight: $thick;
}

@mixin light-text{
  font-weight: $light;
}
.text--light{
  @include light-text;
}