@import 'colors', 'typography';
// atoms
// mixins go here. Use colors, typography to create bases
// include default styles for elemental text straight from md
// start from here and see how you feel. When it grows in complexity, it becomes a molecule.

/*topography atoms*/
@mixin huge-title {
  font-size: $hugeTitle;
}
// for the big tag
@mixin heading_strong {
  font-weight: $thick;
}

@mixin light-text {
  font-weight: $light;
}

@mixin transparent-highlight {
  background-color: $highlight-color;
}
/*Element atoms*/
@mixin link {
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: $headingBold;
  @content;
  &:active {
    // Todo: Color visibility
    color: $wrap-red;
  }
}
@mixin nav_link {
  &.current {
    color: $wrap-red;
  }
}
@mixin button {
  @include link;
  font-weight: $thick;
  background-color: $text-color;
  color: $primary;
  padding: 0.4rem 0.6rem;
  display: inline-block;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    background-color: $wrap-red;
    color: white;
  }
}
@mixin button--transparent {
  background-color: transparent;
  color: $text-color;
  border: 1px solid $text-color;
  &:hover {
    border: 1px solid transparent;
    color: white;
  }
}
// traits
@mixin smooth-scroll {
  scroll-behavior: smooth;
}

@mixin body-default-misc {
  min-height: 100vh;
}
@mixin motion-accessibility {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@mixin splash-logo {
  background-image: url(../images/choc-splash.png);
}
@mixin border($top, $bottom) {
  // outline
  border-width: $top 0px $bottom; // only one: re: moxilla
  border-style: solid;
  border-color: darken($nav-link-text, 30%);
}
::selection {
  @include transparent-highlight;
}
.text--light {
  @include light-text;
}

// misc traits describing behaviour of organisms (cannot standalone, hence atomic).
html:focus-within {
  @include smooth-scroll;
}
body {
  @include body-default-misc;
}
@media (prefers-reduced-motion: reduce) {
  @include motion-accessibility;
}
.button {
  @include button;
}
.button--transparent {
  @include button--transparent;
}
