// color variables go here
$primary-light: #4c103e;
$primary: #4b103d;
$link-highlight: hsl(314, 65%, 30%);
$brown: hsl(30, 100%, 29%);
$wrap-red: hsl(351, 77%, 42%);

// Nav-link color:
$nav-link-text: white;
$nav-logo-text: white;

// text
$text-color: #f5f5f6;
