<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/css/styles.css' | relative_url}}" />

    <title>Document</title>
  </head>
  <body>
    <header class="head">{% include nav.html %}</header>

    {{ content }}
    <footer>
      <div class="footlinks"></div>
      <section class="foot">
        <p>© chocolate network - 2021</p>
      </section>
    </footer>
  </body>
</html>
