<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <title>Document</title>
  </head>
  <body>
    <header class="head">{% include nav.html %}</header>
    <main>
      <!-- Two sections, one with the text, theother with the image -->
      <!-- add more columns till text fits horizontal -->
      <!-- should wrap when size of screen reduces (could set minmax for grid wrapping to rows) -->
      <!-- Hence, you would have to convert it to svg and set background?? Nah. You could place them over each other. The background then the transparent image, 
        like acala did. Would be difficult moving around though, but one thing first, first we do horizontal layout -->
      <section></section>
    </main>
    {{ content }}
    <footer class="foot"><p>© chocolate network - 2021</p></footer>
  </body>
</html>
