---
layout: default
---
{%assign discord = site.data.siteconfig[0] %}
{%assign linkedin = site.data.siteconfig[1] %}
{%assign twitter = site.data.siteconfig[2] %}
{%assign medium = site.data.siteconfig[3] %}
{%assign litepaper = site.data.siteconfig[4] %}
<!-- Two sections, one with the text, theother with the image -->
<!-- add more columns till text fits horizontal -->
<!-- should wrap when size of screen reduces (could set minmax for grid wrapping to rows) -->
<!-- Hence, you would have to convert it to svg and set background?? Nah. You could place them over each other. The background then the transparent image, 
      like acala did. Would be difficult moving around though, but one thing first, first we do horizontal layout -->

<main class="land">
  <!-- From the image, There are only two rows here, and each has its content at the bottom -->
  <section class="land_formsection">
    <h1 class="text--thick">Building a safer Web 3.0 future for all.</h1>
    <p>Ending scam &amp; spam in crypto once and for all</p>
    <div>Form</div>
  </section>
  <section class="land_links">
    <ul>
      <!-- Inherit columns up to here -->
      <!-- Select each and make them span one col. Select thee last and make it span 2-->
      <li><a href="{{discord.link}}" target="_blank" rel="noopener noreferrer" class="button button--transparent"><i class="fab fa-discord fa-fw fa-big"></i></a></li>
      <li><a href="https://twitter.com/{{twitter.user}}" target="_blank" rel="noopener noreferrer" class="button button--transparent"><i class="fab fa-twitter fa-fw fa-big"></i></a></li>
      <li><a href="{{medium.user}}" target="_blank" rel="noopener noreferrer" class="button button--transparent"><i class="fab fa-medium fa-fw fa-big"></i></a></li>
      <li><a href="{{litepaper.link}}" target="_blank" rel="noopener noreferrer" class="button">Lite Paper</a></li>
      <!-- The latter styled as a regular button, the formers styled as fitting buttons -->
    </ul>
  </section>
</main>
