---
layout: default
---

<!-- Two sections, one with the text, theother with the image -->
<!-- add more columns till text fits horizontal -->
<!-- should wrap when size of screen reduces (could set minmax for grid wrapping to rows) -->
<!-- Hence, you would have to convert it to svg and set background?? Nah. You could place them over each other. The background then the transparent image, 
      like acala did. Would be difficult moving around though, but one thing first, first we do horizontal layout -->

<main>
  <section></section>
</main>
